platforms/* linguist-vendored=true
plugins/* linguist-vendored=true
public/* linguist-vendored=true
*.css linguist-detectable=false
*.js linguist-detectable=true
*.java linguist-detectable=false
*.html linguist-detectable=false
